<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echarts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--vue.js-->
    <script src="//cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
    <script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../lib/layui/layui.js"></script>
    <script type="text/javascript" src="../../js/dataview/com.xonro.dataview_util.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="../../js/dataview/theme.js"></script>
</head>
<body style="margin:0;padding:0;">
<div id="main" style="width: 100%;height: 300px">

</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'customed');

    // 指定图表的配置项和数据
    var option = JSON.parse(getDataView(getUrlParameter("id")).reportAttr);

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>