<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--vue.js-->
    <script src="//cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
    <script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../js/report/purple-passion.js"></script>
</head>
<body style="margin:0;padding:0;">
<div id="main" style="width: 100%">

</div>
<script>

</script>
</body>
</html>